body {
  background-color: rgb(241, 236, 236);
}

header {
  margin: 10px;
  padding: 10px;
}

#page-title {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
}

#page-container {
  width: 80%;
  position: static;
  margin: auto;
 
  background-color: rgb(116, 151, 127);
}


.search-page-section {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  border-bottom: 2px solid;
}

.page-section {
  position: relative;
  display: flex;
}

.page-section > * {
  margin-left: 10px;
}

.page-number {
  font-weight: 700;
  font-size: 20px;
}

.filter-section {
  display: flex;
  background-color: lightblue;
  
  padding: 50px;
}

.types-list-container {
  display: flex;
  justify-content: center;
}

.types-list {
  
  display: flex;
  flex-wrap: wrap;
}

.type-list-item {
  margin-right: 30px;
  margin-top: 30px;
}

.type-link:hover {
  cursor: pointer;
}

.type-label {
  text-transform: uppercase;
}

.type-img {
  
}

.pokemon-section {
  background-color: lightblue;
}


.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  background-color: purple;
}


.pokemon-list-item {
  display: block;
  width: 300px;
  height: 300px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  background-color: brown;
}

.pokemon-list-item:hover {
  opacity: 70%;
}

.poke-image {
  width: 250px;
  margin: 3px;
  padding: 3px;
}

