body {

  background-color: rgb(241, 236, 236);
}

header {
  margin: 10px;
  padding: 10px;
}

#page-title {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
}

#page-container {
  width: 80%;
  height: 100%;
  position: static;
  margin: auto;
 
  background-color: rgb(116, 151, 127);
}

/* MAIN PAGE STARTS HERE */

.main-page-container.hidden {
  display: none;
}


.search-page-section {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  border-bottom: 2px solid;
}

.page-section {
  position: relative;
  display: flex;
}

.page-section > * {
  margin-left: 10px;
}

.page-number {
  font-weight: 700;
  font-size: 20px;
}

.filter-section {
  display: flex;
  background-color: lightblue;
  
  padding: 50px;
}

.types-list-container {
  display: flex;
  justify-content: center;
}

.types-list {
  
  display: flex;
  flex-wrap: wrap;
}

.type-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  margin-top: 30px;
}

.type-link:hover {
  cursor: pointer;
}

.type-link.unselected > img {
  opacity: 40%;
}

.type-link > img {
  opacity: 100%
}

.type-link.unselected > img:hover {
  opacity: 100%;
}

.type-link > img:hover {
  opacity: 40%;
}

.type-label {
  text-transform: uppercase;
}

.type-img {
  width: 50px;
  text-align: center;
}

.pokemon-section {
  background-color: lightblue;
}


.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  background-color: purple;
}


.pokemon-list-item {
  display: block;
  width: 300px;
  height: 300px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  background-color: brown;
}

.pokemon-list-item:hover {
  opacity: 70%;
}

.poke-image {
  width: 250px;
  margin: 3px;
  padding: 3px;
}


/* MAIN PAGE ENDS HERE */

/* SHOW PAGE BEGINS HERE */
.nav-buttons-container {
  
  width: 95%;
  
  padding: 10px;
  border-bottom: 2px solid;
}

.show-page-container.hidden {
  display: none;
}

/* .show-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.show-page-title {
  text-align: center;
  padding: 30px;
  margin: 0px 0px 15px 0px;
  font-weight: 700;
  font-size: 50px;
}

.show-poke-info-section {
  background-color: rosybrown;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.show-poke-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  background-color: blueviolet;
  
  margin: 10px;
  padding: 10px;
  margin-bottom: 50px;
}

.show-poke-image {
  width: 90%;
  margin: 5px;
  padding: 5px;
  background-color:rgb(207, 44, 44)
}

.show-types-container {
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  margin: 10px;
  padding: 10px;
}

.show-types-header {
  font-weight: 500;
  font-size: 30px;
  text-align: center;
  border-bottom: 2px solid black;
  background-color: white;
  margin-bottom: 10px;
}

.show-types-list {
  display: flex;
  text-align: center;
}

.show-type-item {
  margin: 10px;
  text-transform: uppercase;
}

.show-evo-list {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  background-color: purple;
}