body {
  background-color: rgb(241, 236, 236);
}

header {
  margin: 10px;
  padding: 10px;
}

#page-title {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
}

#page-container {
  width: 80%;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 10%);
  background-color: rgb(116, 151, 127);
}


.search-filter-section {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  border-bottom: 2px solid;
}

.pokemon-section {
  display: block;

  height: 500px;
  background-color: lightblue;
}