body {
  background-color: rgb(241, 236, 236);
}

.page-container {
  width: 80%;
  position: static;
  margin: auto;
 
  background-color: rgb(116, 151, 127);
}

.page-title {
  text-align: center;
  padding: 30px;
  margin: 0px 0px 15px 0px;
  background-color: rgb(207, 44, 44);
  font-weight: 700;
  font-size: 50px;

}

.poke-info-section {
  background-color: rosybrown;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.poke-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  background-color: blueviolet;
  
  margin: 10px;
  padding: 10px;
  margin-bottom: 50px;

}

.poke-image {
  width: 90%;
  margin: 5px;
  padding: 5px;
  background-color:rgb(207, 44, 44)
}

.types-container {
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  margin: 10px;
  padding: 10px;
}

.types-header {
  font-weight: 500;
  font-size: 30px;
  text-align: center;
  border-bottom: 2px solid black;
  background-color: white;
  margin-bottom: 10px;
}

.types-list {
  display: flex;
  text-align: center;
}

.type-item {
  margin: 10px;
  text-transform: uppercase;
}